body {
background: linear-gradient(99.6deg, rgb(112, 128, 152) 10.6%, rgb(242, 227, 234) 32.9%, rgb(234, 202, 213) 52.7%, rgb(220, 227, 239) 72.8%, rgb(185, 205, 227) 81.1%, rgb(154, 180, 212) 102.4%);
  );
}
.body {
  background: white;
  border: 3px solid black;
  margin: 70px 284.25px 10px 284.25px;
  width: 55%;
  border-radius: 10px;
  text-align: center;
  color: black;
  font-family: "Nunito Sans", sans-serif;
}

.head-section {
  border: 3px solid black;
  border-radius: 10px;
  margin: 20px;
background: linear-gradient(99.6deg, rgb(112, 128, 152) 10.6%, rgb(242, 227, 234) 32.9%, rgb(234, 202, 213) 52.7%, rgb(220, 227, 239) 72.8%, rgb(185, 205, 227) 81.1%, rgb(154, 180, 212) 102.4%);
  );
}
.head-section-1 {
  font-size: medium;
  margin: 30px 5px 20px 5px;
}
.main-info {
  font-weight: 700;
  font-size: 50px;
  margin: 30px 5px -30px 120px;
}

.icon-image {
  position: relative;
  top: -7px;
}

.degree-link-text {
  position: relative;
  top: 70px;
  right: -15px;
}
.head-section-2 {
  position: relative;
  top: -100px;
  padding-right: 40px;
  margin-top: -30px;
}
.extra-info {
  padding-top: 7px;
  font-size: small;
  text-align: right;
}

.extra-info::first-letter {
  text-transform: capitalize;
}

.head-section-3 {
  font-size: small;
  margin: -30px 5px 20px 5px;
}

.middle-section {
  border: 3px solid black;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  padding: 20px 10px 20px 10px;
background: linear-gradient(99.6deg, rgb(112, 128, 152) 10.6%, rgb(242, 227, 234) 32.9%, rgb(234, 202, 213) 52.7%, rgb(220, 227, 239) 72.8%, rgb(185, 205, 227) 81.1%, rgb(154, 180, 212) 102.4%);
  );
}
.middle-section-1 {
  margin-bottom: 10px;
  font-weight: 700;
}
.forecast-icon {
  width: 55px;
  position: relative;
  top: -15px;
  margin: 0 65px 0 60px;
}
.location-search {
  text-align: center;
  margin: 20px;
}
.current-location {
  border: solid 1px black;
  margin-bottom: 10px;
  border-radius: 2px;
  transition: all 200ms ease-in-out;
}
.current-location:hover {
  background-color: rgb(218, 218, 218);
}
.code-source {
  text-align: center;
  margin-bottom: 20px;
}
